<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="false"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="map_file" default="$(find robot_2_description)/maps/world_map.yaml"/>

  <!-- Really Usefull Robot -->

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find robot_2_description)/launch/navigation/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find robot_2_description)/launch/navigation/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz (Create file)-->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_2_description)/rviz/uvc_navigation.rviz"/>
  </group>
  
</launch>
