<launch>
  
  <!-- ============== Arguments =============-->
  <arg name="waypoint" default="false"/>
  <arg name="world_name" default="world.world"/>
  <arg name="model" default="tb3burger"/>

  <!-- =============== gazebo =================== -->
  <include file="$(find test_slam)/launch/gazebo/gazebo.launch">
      <arg name="gui" value="false"/>
      <arg name="world_name" default="$(arg world_name)"/>
      <arg name="model" default="$(arg model)"/>
  </include>

  <!-- ==================== robot_description ===================== -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find test_slam)/urdf/$(arg model).urdf.xacro" />

  <!-- ===================== robot_state_publisher ======================== -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" /> <!--default-->
    <param name="tf_prefix" value=""/><!--multi_robot_names-->
  </node>

  <!-- =================== Map server ================== -->
  <arg name="map_file" default="map3.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(find test_slam)/maps/$(arg map_file)"/>

  <!-- =============== AMCL - for localisation ===================== -->
  <include file="$(find test_slam)/launch/navigation/amcl.launch"/>
  
  <!-- =============== move_base - for path planning =================-->
  <include file="$(find test_slam)/launch/navigation/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="false"/>
  </include>

  <!-- ====================== rviz ================== -->
  <arg name="rviz" default="true"/>
  <group if="$(arg rviz)">
    <!-- <group if="$(arg waypoint)"> -->
      <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find test_slam)/rviz/navigation.rviz" unless="$(arg waypoint)"/>
      <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find test_slam)/rviz/navigation.rviz /move_base_simple/goal:=/move_base_simple/goal2" if="$(arg waypoint)"/>
          <!-- <remap from="/move_base_simple/goal" to="/move_base_simple/goal2"/> -->
      <!-- </node> -->
    <!-- </group> -->
  </group>

</launch>
