<launch>

<rosparam file="$(find ajrobot_description)/launch/controller.yaml" command="load"/>
<node args="rwheel_joint_position_controller lwheel_joint_position_controller joint_state_controller " name="controller_spawner" ns="ajrobot" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/ajrobot/joint_states"/>
</node>

</launch>