<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="world_name" default="world.world"/>
  <arg name="model" default="tb3burger"/>

  <!-- ============================= gazebo ============================ -->
  <include file="$(find test_slam)/launch/gazebo/gazebo.launch">
    <!-- <arg name="gui" value="true"/> -->
    <arg name="world_name" default="$(arg world_name)"/>
    <arg name="model" default="$(arg model)"/>
  </include>

  <!-- ======= robot_description (param:used by joint_state_publisher & robot_state_publisher)======= -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find test_slam)/urdf/$(arg model).urdf.xacro" />

  <!-- ========================= robot_state_publisher ======================== -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" /> <!--default-->
    <param name="tf_prefix" value=""/><!--multi_robot_names-->
  </node>

  <!-- ============================= gmapping ============================== -->
  <include file="$(find test_slam)/launch/slam_methods/$(arg slam_methods).launch">
    <!-- <arg name="model" value="$(arg model)"/> -->
  </include>

  <!-- ====================================== rviz ============================ -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find test_slam)/rviz/slam.rviz"/>

</launch>
